@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    min-height: 100%;
  }

  body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
